<md-toolbar color="primary">
  <button md-button routerLink="home">
        CS&G
    </button>
  <button md-button *ngFor="let link of navLinks" routerLink="{{link.section}}">
        {{link.section | uppercase}}
    </button>
</md-toolbar>
<section class="flex-container">
  <md-sidenav-container class="sidenav-container" (window:resize)="onResize($event)">
    <md-sidenav #sidenav class="sidenav" mode="side" [opened]="isHidden()">
      <nav *ngFor="let link of navLinks">
        <h3>{{link.section}}</h3>
        <ul>
          <li *ngFor="let page of link.pages">
            <a routerLink="/{{link.section}}/{{page.link}}" class="p-l-15 p-r-15">{{page.link | titleCase}}</a>
          </li>
        </ul>
      </nav>
    </md-sidenav>
    <div class="flex layout-column layout-align-start-start">
      <div class="w-100" [hidden]="!isHidden()">
        <md-toolbar color="accent">
          <div *ngFor="let part of currentPath(); let last = last">
            {{part | uppercase}}
            <md-icon *ngIf="!last">chevron_right</md-icon>
          </div>
        </md-toolbar>
      </div>
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
