<section class="layout-row wrap p-h-40 m-v-40">
  <div>
    <h2 class="mat-title bahiana">
      {{page.summary}}
    </h2>
    <p class="mat-body-2">
      How do I decide which siding material to use?
    </p>
    <p class="mat-body-1">
      You have several choices when it comes to siding your home, from traditional wood siding to more advanced materials like fiber cement. The decision on which is best for your home depends on many factors, including how long you plan to remain in your home, local weather conditions, budget and your tolerance for maintenance.
    </p>
    <p class="mat-body-2">
      Wouldn’t it be cheaper to continue painting my wood siding?
    </p>
    <p class="mat-body-1">
      Compared to the cost of painting your home every few years – more than $50,000 over the life of your home – low-maintenance siding is a bargain. With a service life that is counted in decades, the initial investment you make in siding your home will be paid back quickly.
    </p>
    <p class="mat-body-2">
      Does vinyl siding require maintenance?
    </p>
    <p class="mat-body-1">
      To keep it looking its best, you should wash vinyl occasionally with mild soap and a garden hose.
    </p>
    <p class="mat-body-2">
      What is insulated vinyl siding?
    </p>
    <p class="mat-body-1">
      Insulated siding includes a layer of strong foam insulation attached to back of the siding panel. This extra layer of insulation keeps your home warmer during cold winter nights and cooler during the warm summer months. This can translate into lower monthly energy bills that over the life of the siding can add up to significant savings.
    </p>
    <p class="mat-body-2">
      Do you offer matching trim and accessories for my siding installation?
    </p>
    <p class="mat-body-1">
      Yes. Crisenbery Siding &amp; Gutters offers many trim packages to complete your home’s siding makeover.
    </p>
  </div>
</section>
