  @import "../../../theme";
   :host {
    width: 100%;
  }

  header {
    height: 500px;
    background-color: mat-color($primary);
  }

  header>div {
    background-color: mat-color($primary);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23757575' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), color-stop(0.65, rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  }

  header h1 {
    font-weight: 700;
    font-size: 5em;
    margin: 15px;
    text-shadow: mat-color($accent) 1px 1px 4px;
  }

  header h2 {
    letter-spacing: .025em;
    font-size: 28px;
  }

  .headline {}

  .frame-container {
    background-color: mat-color($accent);
  }

  .frame {
    position: relative;
  }

  .frame img {
    vertical-align: bottom;
  }

  .fade {
    height: 100%;
    width: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, rgba(117, 117, 117, 1) 0%, rgba(117, 117, 117, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(117, 117, 117, 1) 100%);
  }

  .spacer {
    min-height: 35px;
    background-color: mat-color($primary);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23757575' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }

  blockquote:nth-child(odd) {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid mat-color($accent);
  }

  blockquote:nth-child(even) {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid mat-color($accent);
  }

  blockquote p {
    margin: 0 0 10px
  }

  blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
  }

  footer {
    padding: 12px;
    font-size: 12px;
  }
