<div class="flex layout-column layout-align-start-stretch">
  <header>
    <div class="txt-center layout-column layout-align-center-center h-100 p-20">
      <h1 color="primary" class="wood">Crisenbery Siding &amp; Gutters</h1>
      <h2 class="no-m gum">serving the tri&ndash;state area for over 30 years.</h2>
    </div>
  </header>
  <div class="frame-container layout-column layout-align-space-around-center">
    <div class="frame">
      <div class="fade"></div>
      <img src="/assets/images/headline-home-truck-min.png" class="img-cap">
    </div>
  </div>
  <div class="spacer"></div>
  <div class="p-h-40 m-v-40">
    <div class="layout-row layout-wrap layout-align-start-start">
      <blockquote *ngFor="let r of reviews" class="flex-100">
        <h3>{{ r.customer }}</h3>
        <p>{{ r.comment }}</p>
      </blockquote>
    </div>
  </div>
  <div class="spacer"></div>
  <section class="p-h-40 m-v-40">
    <h2>Professional Home Exterior in the Tri&ndash;State area</h2>
    <p>
      <img src="/assets/images/home1.png" class="img-thumbnail" style="float:right;margin:0 0 10px 10px!important;" /> Your home is your largest investment, so you want to make sure that your protect it from the roof to the windows. When you are looking for a company that provides superior home improvement in the Cincinnati area, look no further than Crisenbery Siding &amp; Gutters. We understand the importance of providing high quality products to improve the curb appeal and functionality of your home or business.</p>
    <p>With over 30 years of industry experience, our team of skilled and trained professionals is ready to help you transform your dreams into reality. Here at Crisenbery Siding &amp; Gutters, we provide unparalleled professionalism and a dedication to service driven by attention to detail.</p>
    <p>Coordinating multiple contractors for your home improvement projects can be challenging. We can handle all types of jobs, including remodeling, new construction and siding in and around Cincinnati area. We can provide many services for your home's exterior.</p>
    <p>Completing your entire home exterior project using just one contractor simplifies the process and provides you with peace of mind that everything will be installed by our quality, professional and skilled experts.</p>
    <h2>Commitment and Dedication to Customer Service</h2>
    <p>Our focus on ensuring that the entire process is worry free has earned us the reputation of being the premier company for exterior home improvement and outdoor living in tri&ndash;state areas. We make sure that you are informed throughout the entire process. At Crisenbery Siding &amp; Gutters, we guarantee that you will be satisfied with the end results.</p>
    <h2>Contact Us Today</h2>
    <p>Trust the protection of your family and home to the experts at Crisenbery Siding &amp; Gutters in Cincinnati and surrounding areas. Contact us at (513) 932-6680 today for a free, no-obligation estimate. You can also reach us through Google and Facebook.</p>
  </section>
  <div class="spacer"></div>
</div>
