<section class="flex-100 layout-row wrap p-h-40 m-v-40">
  <div class="flex-100 mat-body-2">
    <h2 class="mat-title allan">
      {{page.summary}}
    </h2>
    <div>
      <ng2-file-input (onAction)="onAction($event)" [multiple]="false"></ng2-file-input>
    </div>
    <div class="layout-row m-v-25" *ngIf="processing">
      <div class="button-row">
        <button md-raised-button (click)="saveImages()">Save Image(s)</button>
      </div>
    </div>
    <div class="layout-row" *ngIf="processing">
      <div class="flex-50">
        Resized:
        <br />
        <div *ngIf="fixedImage && fixedImage!=='processing'">
          <img [src]="fixedImageTrusted">
        </div>
        <md-spinner *ngIf="fixedImage==='processing'"></md-spinner>
      </div>
    </div>
  </div>
</section>
